.AwardAndActivations{
    text-align: center;
    margin: 4rem 0;
}

.Award-title, .Activation-title{
    font-size: 1.675rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.Award-content, .Activation-content{
    margin-bottom: 30px;
    display: inline-block;
    border-radius: 1rem;
}

.Award-content p, .Activation-content p{
    padding-bottom: 20px;
}
