.Introduction{
    text-align: center;
    margin: 4rem 0;
}

.Introduction-title{
    font-size: 1.675rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.Introduction-content{
    margin-bottom: 20px;
}

.Introduction-content p{
    padding-bottom: 10px;
}

.Introduction-tooltip{
    display: inline-block;
    text-align: center;
    margin: 30px 20px;
}

.Introduction-tooltip p{
    padding-bottom: 10px;
}