.Introduction{
    text-align: center;
    margin: 4rem 0;
}

.Introduction-title{
    font-size: 1.675rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.Introduction-content{
    margin-bottom: 20px;
}

.Introduction-content p{
    padding-bottom: 10px;
}