.Certificate{
    text-align: center;
    padding: 4rem 1.5rem;
    margin: 0 auto;
    max-width: 71.25rem;
}
.Certificate-title{
    font-size: 1.675rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.Certificate-content{
    margin-bottom: 30px;
    display: inline-block;
    border-radius: 1rem;
}
.Certificate-content p{
    padding-bottom: 20px;
}